<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.sports.dao.generator.mapper.BetslipsSlottoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinbo.sports.dao.generator.po.BetslipsSlotto">
        <id column="id" property="id" />
        <result column="xb_uid" property="xbUid" />
        <result column="xb_username" property="xbUsername" />
        <result column="row_num" property="rowNum" />
        <result column="order_id" property="orderId" />
        <result column="login_name" property="loginName" />
        <result column="draw_date" property="drawDate" />
        <result column="date_bet" property="dateBet" />
        <result column="bet_type" property="betType" />
        <result column="bet_position" property="betPosition" />
        <result column="bet_number" property="betNumber" />
        <result column="confirmed" property="confirmed" />
        <result column="strikePL" property="strikePL" />
        <result column="commPL" property="commPL" />
        <result column="Status" property="Status" />
        <result column="xb_coin" property="xbCoin" />
        <result column="xb_valid_coin" property="xbValidCoin" />
        <result column="xb_profit" property="xbProfit" />
        <result column="xb_status" property="xbStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, xb_uid, xb_username, row_num, order_id, login_name, draw_date, date_bet, bet_type, bet_position, bet_number, confirmed, strikePL, commPL, Status, xb_coin, xb_valid_coin, xb_profit, xb_status, created_at, updated_at
    </sql>

</mapper>
