<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.sports.dao.generator.mapper.BetslipsAeKingMakerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinbo.sports.dao.generator.po.BetslipsAeKingMaker">
        <id column="id" property="id" />
        <result column="ae_id" property="aeId" />
        <result column="user_id" property="userId" />
        <result column="platform" property="platform" />
        <result column="game_code" property="gameCode" />
        <result column="game_type" property="gameType" />
        <result column="bet_type" property="betType" />
        <result column="tx_time" property="txTime" />
        <result column="bet_amount" property="betAmount" />
        <result column="win_amount" property="winAmount" />
        <result column="turnover" property="turnover" />
        <result column="tx_status" property="txStatus" />
        <result column="real_bet_amount" property="realBetAmount" />
        <result column="real_win_amount" property="realWinAmount" />
        <result column="jackpot_bet_amount" property="jackpotBetAmount" />
        <result column="jackpot_win_amount" property="jackpotWinAmount" />
        <result column="currency" property="currency" />
        <result column="update_time" property="updateTime" />
        <result column="round_id" property="roundId" />
        <result column="game_info" property="gameInfo" />
        <result column="settle_status" property="settleStatus" />
        <result column="xb_uid" property="xbUid" />
        <result column="xb_username" property="xbUsername" />
        <result column="xb_coin" property="xbCoin" />
        <result column="xb_valid_coin" property="xbValidCoin" />
        <result column="xb_profit" property="xbProfit" />
        <result column="xb_status" property="xbStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ae_id, user_id, platform, game_code, game_type, bet_type, tx_time, bet_amount, win_amount, turnover, tx_status, real_bet_amount, real_win_amount, jackpot_bet_amount, jackpot_win_amount, currency, update_time, round_id, game_info, settle_status, xb_uid, xb_username, xb_coin, xb_valid_coin, xb_profit, xb_status, created_at, updated_at
    </sql>

</mapper>
