<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.sports.dao.generator.mapper.BetslipsPgChessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinbo.sports.dao.generator.po.BetslipsPgChess">
        <id column="id" property="id" />
        <result column="xb_uid" property="xbUid" />
        <result column="xb_username" property="xbUsername" />
        <result column="bet_id" property="betId" />
        <result column="player_name" property="playerName" />
        <result column="game_id" property="gameId" />
        <result column="bet_type" property="betType" />
        <result column="transaction_type" property="transactionType" />
        <result column="platform" property="platform" />
        <result column="currency" property="currency" />
        <result column="bet_amount" property="betAmount" />
        <result column="win_amount" property="winAmount" />
        <result column="jackpot_contribution_amount" property="jackpotContributionAmount" />
        <result column="jackpot_win_amount" property="jackpotWinAmount" />
        <result column="balance_before" property="balanceBefore" />
        <result column="balance_after" property="balanceAfter" />
        <result column="hands_status" property="handsStatus" />
        <result column="row_version" property="rowVersion" />
        <result column="betTime" property="betTime" />
        <result column="betEndTime" property="betEndTime" />
        <result column="xb_coin" property="xbCoin" />
        <result column="xb_valid_coin" property="xbValidCoin" />
        <result column="xb_profit" property="xbProfit" />
        <result column="xb_status" property="xbStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, xb_uid, xb_username, bet_id, player_name, game_id, bet_type, transaction_type, platform, currency, bet_amount, win_amount, jackpot_contribution_amount, jackpot_win_amount, balance_before, balance_after, hands_status, row_version, betTime, betEndTime, xb_coin, xb_valid_coin, xb_profit, xb_status, created_at, updated_at
    </sql>

</mapper>
