<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.sports.dao.generator.mapper.CoinWithdrawalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinbo.sports.dao.generator.po.CoinWithdrawal">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="coin" property="coin" />
        <result column="coin_before" property="coinBefore" />
        <result column="admin_uid" property="adminUid" />
        <result column="bank_info" property="bankInfo" />
        <result column="mark" property="mark" />
        <result column="category" property="category" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, username, coin, coin_before, admin_uid, bank_info, mark, category, status, created_at, updated_at
    </sql>

</mapper>
