<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinbo.sports.dao.generator.mapper.PayOfflineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinbo.sports.dao.generator.po.PayOffline">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="bank_name" property="bankName" />
        <result column="bank_account" property="bankAccount" />
        <result column="bank_address" property="bankAddress" />
        <result column="qr_code" property="qrCode" />
        <result column="coin_min" property="coinMin" />
        <result column="coin_max" property="coinMax" />
        <result column="coin_range" property="coinRange" />
        <result column="category" property="category" />
        <result column="bank_id" property="bankId" />
        <result column="level_bit" property="levelBit" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="contact_type" property="contactType" />
        <result column="contact_nubmber" property="contactNubmber" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, bank_name, bank_account, bank_address, qr_code, coin_min, coin_max, coin_range, category, bank_id, level_bit, sort, status, contact_type, contact_nubmber, created_at, updated_at
    </sql>

</mapper>
